:root{
    --bg: rgb(1, 49, 49);
    --services-bg-color: rgb(112, 173, 197);
    --grad:  ;
}


body{
    background-color: skyblue;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
   width: 100%;
   left: 0%;
}
.list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

ul a{
    color: aliceblue;
    text-decoration: solid;
    
}

.logo{
   color: rgb(31, 101, 158);
    display: block;
    align-items: center;
    justify-content: center;
}
.l{
    font-size: 29px;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
    
}
.menu-toggle{
    display: none;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    font-size: 20px;
    cursor: pointer;
}
.plane{
  
    width: 40%;
    position: relative;
   
}
.ship{
    width: 40%;
    position: relative;
}
h3{
    
    position: relative;
}
.services{
    font-size: 29px;
    font-weight: bold;
    left: 0;
    
}
.services ul li:hover{
    transform: translateX(10%);
    
}

@media (max-width: 480px) {
    .list{
       display: none;
       
       width: 100%;
       padding-top: 50%;
    }
    .menu-toggle{
        display: flex;
    }
    nav{
        flex-direction: row;
        align-items: center;
    }
    .active{
        display: block;
        background-color: rgb(2, 192, 240);
        width: 100%;
        border-radius: 5px;
       
    }
    .services{
        font-size: 20px;
        font-weight: bold;
        left: 0;
    }
}
.contact{
    background-color: black;
    color: white;
    width: max-content;
    border-radius: 30px;
    height: max-content;
}
#home{
    background-color: skyblue ;
    height: 100vh;
    width: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(1, 1, 63);
}
#services{
    height: 100vh;
    background-color: var(--services-bg-color);
    border-radius: 2px;
    width: 120%;
    color: white;
    display: flex;
    align-items: center;
  
    padding-top: 10vh;
    
}
.services ul h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.services ul li{
    list-style: decimal-leading-zero;
}
#contact-us{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact-us ul li{
    list-style: none;
    display: block;
}
